#ablock {
    text-align: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-emphasis: center;
    background-image: url("/assets/images/backgroundspace.jpg");
}

.achoice {
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    border: 5px black;
    border-radius: 5px;
    border-style: inset;
}

.ablock {}

h1 {
    text-align: center;
}

#start {}